.header
  STARBUCKS Review  
  .exhibition
    = link_to new_review_path, data: {"turbolinks" => false}  do
      %span.exhibition__text 投稿する
      = image_tag asset_path("coffee-2-128.png"), class: "exhibition__btn"