.main
  .main__contents
    .main__contents__box
      -@reviews.each do|review|
        .main__contents__box__store
        
          .main__contents__store__imagebox
            .main__contents__store__image
              =link_to review_path(review.id),data:false do
                -if review.image.present?
                  =image_tag review.image.url, class:'main__contents__store__image' 
                .main__contents__box__name
                  =review.plag.name
                .main__contents__box__outlet
                  =review.point.name
                  %br
                  =review.store.root.name
                  %br
                  =review.store.parent.name
                  %br
                  =review.store.name





            
                  