.main
  .main__contents
    .main__contents__box
      .main__contents__store--1.store__info1
        .main__contents__store__imagebox
          .main__contents__store__image
            = image_tag 'sample1.jpeg', alt: '', height: '', width: '', class: ''
        .main__contents__store__name
          -@reviews.each do|review|
            =review.plag.name
            .main__contents__store__outlet
              =review.point.name
      .main__contents__store--2.store__info
        .main__contents__store__imagebox
          .main__contents__store__image
            .main__contents__store__image
              = image_tag 'sample1.jpeg', alt: '', height: '', width: '', class: ''
        .main__contents__store__name
          Starbucks2
        .main__contents__store__outlet
          コンセント：×
      .main__contents__store--3.store__info
        .main__contents__store__imagebox
          .main__contents__store__image
            .main__contents__store__image
              = image_tag 'sample1.jpeg', alt: '', height: '', width: '', class: ''
        .main__contents__store__name
          Starbucks3
        .main__contents__store__outlet
          コンセント：◯
      .main__contents__store--4.store__info
        .main__contents__store__imagebox
          .main__contents__store__image
            .main__contents__store__image
              = image_tag 'sample1.jpeg', alt: '', height: '', width: '', class: ''
        .main__contents__store__name
          Starbucks4
        .main__contents__store__outlet
          コンセント：◯