.header__store-table
  店舗一覧
  .store
    %ul.store1
      - @parents.each do |parent|
        %li.store1__li
          = link_to "#{parent.name}", store_table_store_path(parent),data: {"turbolinks" => false},id: "#{parent.id}",class:"store2"
    %ul.store3
    %ul.store4