.menubar
 .menubar__home
  =link_to "HOME", root_path
 .menubar__mypage
  =link_to "ログアウト", destroy_user_session_path, method: :delete
 .menubar__update
  =link_to "UPDATE", edit_user_path(current_user)
 .menubar__search
  = link_to "店舗検索", search_stores_path