=render "stores/header"
=render "users/menubar"
.mypage-main
 .mypage-main__left
  .mypage-main__left__user_name
   ユーザー名
   %br
   = current_user.name
  .mypage-main__left__user_eamil
   メールアドレス
   %br
   = current_user.email
  .mypage-main__left__user_review
 .mypage-main__right