=render "stores/header"
=render "users/menubar"
.mypage-main
  .mypage-main__left
    .mypage-main__left__user_name
      ユーザー名
    .mypage-main__left__user_current
      = current_user.name
    .mypage-main__left__user_eamil
      メールアドレス
    .mypage-main__left__user_current-email
      = current_user.email
    .mypage-main__left__user_review
      レビュー数
    .mypage-main__left__user_current
      ="#{@number}件"
  .mypage-main__right
    .mypage-main__right__title
      Myレビュー
    .mypage-main__right__paginate
      =paginate(@reviews)
    .mypage-main__right__main
      -@reviews.each do |review|
        .mypage-main__right__main__up
          =link_to review_path(review.id),data:false do
            -if review.image.present?
              =image_tag review.image.url, class:'main__contents__store__image' 
          .mypage-main__right__main__name
            =review.plag.name
            %br
            =review.point.name
            %br
            =review.store.root.name
            %br
            =review.store.parent.name
            %br
            =review.store.name
      .mypage-main__right__main__down
        .mypage-main__right__main__down__title
          お気に入り一覧
        .mypage-main__right__main__down__paginate
          =paginate(@bookmarks)
        .mypage-main__right__main__down__main
          -@review.each do |review|
            .mypage-main__right__main__down__main__box
              =link_to review_path(review.id),data:false do
                -if review.review.image.present?
                  =image_tag review.review.image.url, class:'main__contents__store__image'
              .mypage-main__right__main__down__main__box__name
                =review.plag.name
                %br
                =review.point.name
                %br
                =review.store.root.name
                %br
                =review.store.parent.name
                %br
                =review.store.name
       

