* {
  box-sizing: border-box;
}


.header{
  height: 150px;
  width: 100%;
  display: flex;
  &__loginbox{
    width: 150px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 100px;
    right: 0;
  }
}