* {
  box-sizing: border-box;
}

.main{
  width: 100%;
  flex-direction: column;
  &__contents{
    height: 1000px;
    &__title {
    height: 70px;
    text-align: center;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#c6893f;
    color: white;
    width: 330px;
    margin: 0 auto;
    border-radius: 3px;
    }
    &__title2 {
      height: 150px;
      text-align: center;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      background-color:#c6893f;
      color: white;
      width: 500px;
      margin: 0 auto;
      border-radius: 3px;
    }
    &__paginate{
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    width: 330px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
    text-align: center;
    }
    a{
      color: blue;
    }
    &__box{
      width: 100%;
      padding-top: 50px;
      display: flex;
      flex-wrap:wrap;
      text-decoration: none;
      padding: 30px;
    }
    &__box2{
      width: 800px;
      height: 300px;
      padding-top: 50px;
      display: flex;
      flex-wrap:wrap;
      text-decoration: none;
      padding: 30px;
      background-color: gold;
    }
    &__store__image{
      height: 200px;
      width: 280px;
      margin-left: 1px;
      margin-top: 1px;
    }
  }
}

.main__contents__box{
  display: flex;
  &__store{
  height: 350px;
  width: 300px;
  border: 3px solid #00704a;
  margin-left: 20px;
  display: flex;
  margin-top: 20px;
  }
  &__store2{
    height: 350px;
    width: 300px;
    border: 3px solid #00704a;
    margin-left: 20px;
    display: flex;
    margin-top: 20px;
  }
  &__name {
    color: black;
  }
  &__outlet{
    color: black;
  }
  a{
    text-decoration: none;
  }
  a{
    color: black;
  }
}

.main__contents__box2{
  display: flex;
  &__store2{
  height: 350px;
  width: 300px;
  border: 3px solid #00704a;
  margin-left: 20px;
  display: flex;
  margin-top: 20px;
  }
  &__name2 {
    color: black;
  }
  &__outlet2{
    color: black;
  }
  a{
    text-decoration: none;
  }
  a{
    color: black;
  }
}


.store__info1{
  height: 300px;
  width: 300px;
  border: 3px solid #00704a;
  display: flex;
  
}