.menubar {
  height: 80px;
  width: 100%;
  display: flex;
  margin-top: 3px;
  margin-bottom: 20px;
  &__home {
    color: white;
    width: 300px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background: #333;
    margin-left: 3px;
    margin-right: 1px;
    border-radius: 3px;
    &:hover {
      background-color:#c6893f;
      color: black;
    }
    a{
      text-decoration: none;
      color: white;
    }
  }
  &__menu {
  color: white;
  width: 300px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  background: #333;
  margin-left: 3px;
  margin-right: 1px;
  border-radius: 3px;
  &:hover {
    background-color: #00704a;
    color: black;
  }
  a{
    text-decoration: none;
    color: white;
  }
  }
  &__mypage {
  color:white;
  width: 300px;
  line-height: 80px;
  font-size: 30px;
  text-align: center;
  background: #333;
  margin-right: 4px;
  margin-left: 3px;
  border-radius: 3px;
  &:hover {
    background-color:  #00704a;
    color: black;
  }
  a{
    text-decoration: none;
    color: white;
  }
  }
  &__search{
    color:white;
    width: 300px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background: #333;
    border-radius: 3px;
    &:hover {
      background-color: #c6893f;
      color: black;
    }
    a{
      text-decoration: none;
      color: white;
    }
  }
  &__update{
    color:white;
    width: 300px;
    line-height: 80px;
    font-size: 30px;
    text-align: center;
    background: #333;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 3px;
    &:hover {
      background-color: #00704a;;
      color: black;
    }
    a{
      text-decoration: none;
      color: white;
    }

  }
}