.search-main{
  height: 100vh;
  width: 100%;
  display: flex;
  &__left{
   width: 400px;
   height: 100%;
   &__search_sort{
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    &__box {
      width: 200px;
      height: 40px;
      background-color: white;
      text-align: center;
    }
  }
  &__search_form {
    border: solid 1px;
    height: 700px;
    width:350px;
    margin-top: 30px;
    background: rgb(245, 245, 245);
    margin-left: 30px;
    &__title {
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
    }
    &__name-title {
    font-size: 15px;
    padding-left: 50px;
    margin-bottom: 3px;
    }
    &__name {
    font-size: 15px;
    padding-left: 50px;
    }
    .form {
      width: 200px;
      height: 60px;
      font-size: 15px;
      padding-left: 50px;
    }
    #parent-form {
      margin-top: 10px;
      height: 30px;
      width: 200px;
      border-radius: 5px;
      border: 1px solid black;
    }
    #child-form {
      height: 30px;
      width: 200px;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid black;
    }
    #grandchild-form {
      height: 30px;
      width: 250px;
      border-radius: 5px;
      margin-top: 10px;
      border: 1px solid black;
    }
    &__btn-box{
      display: flex;
      &__box {
      margin-top: 100px;
      margin-left: 50px;
      font-size: 15px;
      height: 30px;
      width: 100px;
      background-color: #3CCACE;
      text-align: center;
      line-height: 30px;
      border: solid 1px;
      border-radius: 5px;
      position: relative;
      a{
        text-decoration: none;
        color:black;
      }
     }
     &__submit {
      margin-top: 100px;
      margin-left: 10px;
      font-size: 15px;
      height: 30px;
      width: 100px;
      background-color: rgb(248, 10, 42);
      text-align: center;
      line-height: 30px;
      border: solid 1px;
      border-radius: 5px;
      cursor: pointer;
      }
    }
  }
 }
 &__right {
  height: 100vh;
  width: 100%;
  margin-left: 20px;
  &__title {
    height: 20px;
    width: 100%;
    font-size: 18px;
  }
 }
    
}