.main-login{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  &__title {
    width: 100%;
    height: 60px;
    font-size: 35px;
    line-height: 60px;
    padding-top: 30px;
    color: #2C2A29;
    text-align: center;
    font-weight: bold;
  }
  &__box-new {
    background-color: #00704a;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    a{
      text-decoration: none;
      color: white;
    }
  }
  &__box {
    background-color: #00704a;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    border-radius: 5px;
    &__title {
      text-align: center;
      padding-top: 25px;
      margin-bottom: 10px;
      color: #fff;
    }
    .btn-resistration{
      background-color: #c6893f;
      width: 250px;
      display: block;
      margin: 8px 0 0;
      color: #fff;
      line-height: 40px;
      text-decoration: inherit;
      margin: 0 auto;
      text-align: center;
      border-radius: 3px;
      &:hover {
        background-color:#2C2A29;
        color: #fff;
      }
    }
    &__form {
      height: 200px;
      &__title {
      text-align: center;
      padding-top: 25px;
      margin-bottom: 10px;
      color: #fff;
      }
      &__contanir{
      width: 250px;
      margin: 0 auto;
      text-align: center;
      display: block;
      border-radius: 3px;
      border: solid 1px;
      margin-bottom: 10px;
      height: 35px;
      font-size: 15px;
      }
    }
    .btn-submit{
      background-color: #c6893f;
      width: 250px;
      display: block;
      margin-bottom: 20px;
      color: #fff;
      line-height: 40px;
      text-decoration: inherit;
      margin: 0 auto;
      text-align: center;
      border-radius: 3px;
      &:hover {
        background-color:#2C2A29;
        color: #fff;
      }
    }
    a{
      color: #fff;
      text-decoration: none;
    }
  }
  .label{
    margin-right: 200px;
    height: 30px;
    width: 50px;
    color: white;
    border-radius: 3px;
  }
  .new-btn-submit{
    background-color: #c6893f;
    width: 250px;
    display: block;
    color: #fff;
    line-height: 40px;
    text-decoration: inherit;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
    &:hover {
      background-color:#2C2A29;
      color: #fff;
    }
  }
}