.mypage-main{
  height: 100vh;
  width: 100%;
  display: flex;
  &__left{
    height: 100%;
    width: 300px;
    background-color: yellowgreen;
  }
  &__right {
    height: 100%;
    width: calc(100% - 300px);
    background-color: bisque;

  }
  
}