.mypage-main{
  height: 100vh;
  width: 100%;
  display: flex;
  &__left{
    height: 100%;
    width: 300px;
    &__user_name{
    height: 50px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    }
    &__user_eamil{
      height: 50px;
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-top: 20px;
    }
    &__user_review{
      height: 50px;
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-top: 20px;
    }
  }
  &__right {
    height: 100%;
    width: calc(100% - 300px);
    display: flex;
    flex-wrap:wrap;
  }
  
}