.review-main
 .review-main__review-header
  
 .review-main__review-form
  =form_for @reviews do |f|
   .review-main__review-form__review-item-image
    
    =f.label :画像, class:"review-main__review-form__review-label"
    =f.label :必須 ,class:"review-main__review-form__review-label__need"
    %P{class:"review-main__review-form__review-text"} 最大5枚までアップロードできます
   
   .review-main__review-form__review-item-name
    =f.label :日付, class:"review-main__review-form__review-label" 
    =f.label :必須,  class:"review-main__review-form__review-label__need" 
    =f.datetime_field :visit,class: "review-main__review-form__review-item-brand__form"
   
    
   .listing-product-detail__category
    %p{class:"listing-product-detail__category__detail"} 
    =f.label :混雑, class:"review-main__review-form__review-label"
    =f.label :必須, class:"review-main__review-form__review-label__need"
    .listing-select-wrapper
     .listing-select-wrapper__box
      = f.collection_select :congestion_id, Congestion.all, :id, :name, {prompt: "選択してください"},class: "review-main__review-form__status__form"
   .review-main__review-form__review-item-size
    =f.label :コンセント, class:"review-main__review-form__review-label" 
    =f.label :必須,  class:"review-main__review-form__review-label__need"
    = f.collection_select :plag_id, Plag.all, :id, :name, {prompt: "選択してください"},class: "review-main__review-form__status__form"
   .review-main__review-form__review-item-brand
    = f.fields_for :brand do |brand|
     =f.label :評価 ,class:"review-main__review-form__review-label" 
     =f.label :任意, class:"review-label__free"
     = f.collection_select :point_id, Point.all, :id, :name, {prompt: "選択してください"},class: "review-main__review-form__status__form"
   .review-main__review-form__status
    =f.label :コメント,class:"review-main__review-form__review-label"
    =f.label :任意, class:"review-label__free"
    =f.text_field :comment,class: "review-main__review-form__review-item-explanation__form"
   
   .review-main__review-form__profit
   .review-main__review-form__submit
    =f.submit "投稿する",class: "review-main__review-form__submit__form"
   .review-main__review-form__back
    =link_to root_path do
     %p もどる
   .review-main__review-form__rool
    %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、
    %br法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。