=render "stores/header"

.wrapper
  .topContents
    .contents
      .itembox
        %h1.itembox__name 
        .itembox__imagebox
          .imagebig
            .bigimage
              =image_tag @review.image.url, class:"show-img"
       
        .itembox__price
          %span.plice 
            
          .itembox__price-ditail
          
      .itembox__Dtail
        
        
      .itemtable
        %table
          %tb
            %tr
              %th 店舗名
              %td
                =@review.store.name

            %tr
              %th 日付
              %td 
                =@review.visit.strftime("%F")
                
            %tr
              %th  混雑
              %td 
                =@review.congestion.name
            %tr
              %th  コンセント
              %td
                =@review.plag.name
            %tr
              %th  評価
              %td
                =@review.point.name
            %tr
              %th  コメント
              %td
                =@review.comment
      .buy-box
        - if user_signed_in?
          - if @review.user_id == current_user.id
            = link_to '編集', edit_review_path(@review) ,class:"edit-btn",data:{turbolinks: :false}
            = link_to '削除', review_path(@review), method: :delete, data: { confirm: "削除しますか？" } ,class:"delete-btn"
          
            
      .optionArea
        %ul
          %li.okini
            =link_to "#" do
              %i{class: "fa fa-star"}
              お気に入り 0
        %ul
          %li.hata
            =link_to "#" do
              %i{class: "fa fa-flag"}
              不適切な評価の通報
      -# コメントフォーム
      .commentBox
        =form_for "#" do |f|
          =f.text_area :text
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{name:"button", type:"submit",class:"commentBtn"}
            %i{class:"fa fa-comment"}
            コメントする
            
  %ul.topform
    
  .relatedItem
    =link_to root_path ,data: {"turbolinks" => false} do
      トップページへ戻る


=render "stores/footer"